ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.header{
  width: 100%;
  background-image: linear-gradient(rgba(0, 4, 30, 0.685), rgba(0, 4, 1, 0.685)) ,  url('images/Hizmetlerimiz-nav.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 65dvh;
}

.navbarContainer{
  width: 95% !important;
  margin-top: 1rem;
}

.nav-link{
  color: white;
}
.collapse-menu2 li a{
  color: #fff;
  text-decoration: none;
}
.collapse-menu2 ul{
  list-style: none;
}
.collapse-menu2 li{
  display: inline-block;
  margin-right: 1rem;
}
.collapse{
  flex-direction: column;
  align-items: flex-end;
}
.title{
  height: 90%;
}
.red-title {
  color: #990033;
  font-weight: 700;
  font-size: 15px;
}

.red-title-paragraph a {
  color: gray;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.red-title-paragraph li {
  line-height: 30px;
}

.etiket span a {
  border: 1px solid #a1a1a1;
  padding: 0 10px;
  margin: 0 5px 9px 0;
  text-transform: none;
  font-size: 12px;
  color: #a1a1a1;
  display: inline-block;
  line-height: 26px;
  text-decoration: none;
  font-weight: bold;
}

.etiket span a:hover {
  background-color: black;
  color: white;
}

.footer-box{
  margin-top: 5rem;
  background-color: #020a20;
}
.post-p2{
  font-size: 11px;
}
.footer-ul ul li{
  list-style-type: none;
}
.footer-title{
  font-size: 15px;
}
.footer-li{
  font-size: 11px;
}
